.header {
    background-color: #6b37b7;
}

.form-editar-cliente {
    text-align: center;
    padding: 30px;
}

h1 {
    text-align: center;
    position: relative;
    padding: 0px 0px 20px 0px;
}

    h1:before,
    h1:after {
        content: "";
        width: 35%;
        height: 1px;
        background: #555;
        position: absolute;
        top: 50%;
    }

    h1:before {
        left: 0;
    }

    h1:after {
        right: 0;
    }

a {
    color: #ffffff;
    margin: 10px 10px 10px 10px;
}

    a:hover {
        background-color: #0d6efd;
        color: #ffffff;
        text-decoration: none;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

button {
    background-color: #008CBA !important;
    border: none !important;
    color: white !important;
    padding: 2px 10px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    border-radius: .25rem !important;
    transition: color .15s !important;
}

.centro-cadastro {
    text-align: center;
    position: relative;
    padding: 0px 0px 20px 0px;
}

